<!DOCTYPE html>
<link rel="stylesheet" href="/css/index.css">
<header>
		<div class="wrap view-size">
			<div id="title">
			<a href="/"><h1>いちばん</h1></a>
			</div>
		</div>
		<section id="left-title">
				<section id="left-top">
					<div class="img"></div>
					<a>김몽 / 대리</a>
					<span>2024-06-25 오전 11:36</span>
					<a>마이페이지  로그아웃</a>
				</section>
				
		<section class="left-center">
			<div id="center">
				<button>출근 09:00</button>
				<button>퇴근 18:00</button>
				
				</div>
				<div id="center-left">	
				<a>
					근무 
					09:00 ~ 18:00
				</a>	
				
				</div>
			</div>
		
			
		</section>
		
		<section id="left-bottom">
			<div class="images">
			<a href="#"><img src="image/calendar.png"></a>
			<a href="#"><img src="image/mail.png"></a>
			<a href="#"><img src="image/message.png"></a>
			<a href="/memo"><img src="image/게시판.png"></a>
			<a href="#"><img src="image/전자결재.png"></a>
			<a href="#"><img src="image/사람.png"></a>
					
			</div>	
		</section>
		
		
			</section>
	</header>
	
	